<#--<!--[if lte IE 9]>-->
<#--<div id="_topTip" class="alert alert-dismissible callout callout-danger animated bounceInDown" style="margin-bottom: 0px;padding: 10px 30px 10px 15px; position: absolute;z-index: 10000; display: block; width: 100%">-->
<#--    <button  type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
<#--    <p><i class="fa fa-exclamation-triangle" aria-hidden="true" style="margin-right: 10px;"></i><@ctx.i18n text = "您的浏览器版本过低或在兼容模式下，导致打开速度过慢，提升速度您可以切换到极速模式或升级为最新版，"/>-->
<#--        <a href="${ctxStatic}/upbw/index" target="_blank"><@ctx.i18n text = "点击此处查看详情"/></a>。</p>-->
<#--</div>-->
<#--<![endif]&ndash;&gt;-->
<!--[if lte IE 10]><script>window.location.href='${ctxStatic}/upbw/index';</script><![endif]-->