<<@>include "/common/defaultEngine.html"/>
${pageTheme}
#set($selectPage_="0")
#foreach($column in $columns)
#if($column.htmlType == "addr")
#set($selectPage_="1")
#break
#end
#end
<@header title="修改${functionName}" bodyClass="white-bg" libs=["bootstrapSelect"#if($table.rFile),"fileupload"#end#if($selectPage_ == "1"),"selectPage"#end]/>
#foreach($column in $columns)
#if($column.edit && !$column.superColumn && !$column.pk && $column.htmlType == "datetime")
#break
#end
#end
<div class="wrapper wrapper-content ibox-content">
<@form.form id="form-${businessName}-edit"  class="form-horizontal">
    <input name="${pkColumn.javaField}" value="${${className}.${pkColumn.javaField}}" type="hidden">
    <h4 class="form-header h4"><@ctx.i18n text = "基本信息"/>&nbsp;<i class="fa-fw ${table.menuIcon}"></i></h4>######
#####
#set($indexTag = 0)
#set($isTag = 1)
#foreach($column in $columns)
#if($column.insert && !$column.pk)
#set($indexTag = $indexTag+1)
#end
#end
#if($indexTag % 2 == 0)
#set($isTag = 0)
#end
#set($compId_="")### 设置公司变量
#set($indexTag = 0)
#foreach($column in $columns)
#if($column.edit && !$column.pk)
#if(($column.usableColumn) || (!$column.superColumn))
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#set($field=$column.javaField)
#set($dictType=$column.dictType)
#if($indexTag % 2 == 0)#####

    <div class="row">
        <div class="col-sm-6">
#if("" != $treeParentCode && $column.javaField == $treeParentCode)##
            <div class="form-group">
                <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>： </label>
                <div class="col-sm-8">
                    <div class="input-group">
        #set($BusinessName=$businessName.substring(0,1).toUpperCase() + ${businessName.substring(1)})
                        <input id="treeId" name="${treeParentCode}" type="hidden" value="${${className}.${treeParentCode}}" />
                        <input class="form-control" type="text" onclick="select${BusinessName}Tree()" id="treeName" readonly="true" value="<$>{${className}.parentName}"#if($column.required) required#end/>
                        <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                    </div>
                </div>
             </div>
#elseif($column.htmlType == "input")##
            <div class="form-group">##

                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：##
                        #if($column.required && $column.info)##
        #if($column.circleType == "Q")##
                       <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"##
                       data-content="${column.editInfo}">##
                       <i class="fa fa-question-circle-o" style="color: orange"></i></a>##
                       #elseif($column.circleType == "T")##
                       <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>##
                        #end##
                        #end##

               </label>##

                <div class="col-sm-8">
                <@form.input name="${field}" value="${${className}.${field}?default('')}"  #if($column.required) required=true#end #if($column.required && $column.info)#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
                </div>
             </div>
#elseif($column.htmlType == "icon")
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：
                    <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="bottom"
                       data-content="自定义获取图标:<a href='http://www.fontawesome.com.cn/faicons/' target='_blank'>http://www.fontawesome.com.cn/faicons/</a>">
                        <i class="fa fa-question-circle-o" style="color: orange"></i></a>
                </label>
                <div class="col-sm-8">
                    <@form.iconselect name="${field}" value="${${className}.${field}?default('')}" placeholder="选择图标"/>
                </div>
            </div>
#elseif($column.htmlType == "imgcup")
        <div class="form-group">
            <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>：
            </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <@form.imageclip name="${field}" value="${${className}.${field}?default('')}"/>
                </div>
            </div>
        </div>###
#elseif($column.htmlType == "addr")
        <div class="form-group">
            <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>：
            </label>
            <div class="col-sm-8">
                 <@form.selectLinkage name="${field}" value="${${className}.${field}?default('')}"/>
            </div>
        </div>###
#elseif($column.htmlType == "select" && "" != $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                     <@form.select name="${field}" dictType="${dictType}" value="${${className}.${field}?default('')}"  #if($column.required) required=true#end  multiple=true  />
                </div>
            </div>
#elseif($column.htmlType == "select" && $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <select name="${field}" class="form-control m-b"#if($column.required) required#end>
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
#elseif($column.htmlType == "dselect" && "" != $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                     <@form.select name="${field}" dictType="${dictType}" value="${${className}.${field}?default('')}"  #if($column.required) required=true#end/>
                </div>
            </div>
#elseif($column.htmlType == "dselect" && $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <select name="${field}" class="form-control m-b"#if($column.required) required#end>
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
#elseif($column.htmlType == "radio" && "" != $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                   <@form.radio name="${field}" dictType="${dictType}" value="${${className}.${field}?default('')}" #if($column.required) required=true#end />
                </div>
            </div>
#elseif($column.htmlType == "radio" && $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="${field}" value=""#if($column.required) required#end/><span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                    </div>
                </div>
            </div>
 #elseif($column.htmlType == "checkbox" && "" != $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <@form.checkbox name="${field}" dictType="${dictType}" value="${${className}.${field}?default('')}" #if($column.required) required=true#end/>
                </div>
            </div>
 #elseif($column.htmlType == "checkbox" && $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                       <label><input type="checkbox" name="${field}" value=""#if($column.required) required#end>
                        <label th:for="${field}" th:text="未知"></label></label>
                        <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                    </div>
            </div>
#elseif($column.htmlType == "datetime")
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="form-control time-input" name="${field}"  data-type="date"   value="${(${className}.${field}?string('yyyy-MM-dd'))!}" data-format="yyyy-MM-dd" type="text" #if($column.required) required#end/>
                    </div>
                </div>
            </div>
#elseif($column.htmlType == "textarea")
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <textarea name="${field}" class="form-control"#if($column.required) required#end>${${className}.${field}?default('')}</textarea>
                </div>
            </div>
#elseif($column.htmlType == "dept")
            <div class="form-group">
                <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                        <@form.treeselect name="${field}" value="${${className}.${field}?default('')}"
                          labelValue="${${className}.deptName?default('')}"
                          boxTitle="请选择管理地区" url="sys/dept/selectZtree"  correlationId="${compId_}" isSelectParent=true placeholder="请选择管理地区"/>
                </div>
            </div>
 #elseif($column.htmlType == "comp")
#set($compId_ = $field)
            <div class="form-group">
                <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                        <@form.treeselect  name="${field}" value="${${className}.${field}?default('')}"
                        labelValue="${${className}.compName?default('')}"
                        boxTitle="选择归属公司" url="sys/comp/treeData?type=0" expandLevel=true  placeholder="请选择归属公司"/>
                </div>
            </div>
#else
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：
                 #if($column.required && $column.info)
                 #if($column.circleType == "Q")
                 <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"  data-content="${column.editInfo}">
                 <i class="fa fa-question-circle-o" style="color: orange"></i></a>
                 #elseif($column.circleType == "T")
                 <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
                #end
                #end
                </label>
                <div class="col-sm-8">
                    <input name="${field}" class="form-control" type="text"#if($column.required) required#end>
                    #if($column.required && $column.info)
                        #if($column.circleType == "R")
                            <span class="help-block m-b-none"><i class="fa fa-info-circle" style="color: red"></i>${column.editInfo}</span>
                        #end
                    #end
                </div>
            </div>
#end
        </div>
#else
        <div class="col-sm-6">
#if("" != $treeParentCode && $column.javaField == $treeParentCode)##
            <div class="form-group">
                <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>： </label>
                <div class="col-sm-8">
                    <div class="input-group">
        #set($BusinessName=$businessName.substring(0,1).toUpperCase() + ${businessName.substring(1)})
                        <input id="treeId" name="${treeParentCode}" type="hidden" value="${${className}.${treeParentCode}}" />
                        <input class="form-control" type="text" onclick="select${BusinessName}Tree()" id="treeName" readonly="true" value="<$>{${className}.parentName}"#if($column.required) required#end/>
                        <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                    </div>
                </div>
             </div>
#elseif($column.htmlType == "input")##
            <div class="form-group">##

                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：##
    #if($column.required && $column.info)##
        #if($column.circleType == "Q")##
                       <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"##
                       data-content="${column.editInfo}">##
                       <i class="fa fa-question-circle-o" style="color: orange"></i></a>##
        #elseif($column.circleType == "T")##
                       <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>##
        #end##
    #end##

               </label>##

                <div class="col-sm-8">
                <@form.input name="${field}" value="${${className}.${field}?default('')}"  #if($column.required) required=true#end #if($column.required && $column.info)#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
                </div>
             </div>
#elseif($column.htmlType == "icon")
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：
                    <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="bottom"
                       data-content="自定义获取图标:<a href='http://www.fontawesome.com.cn/faicons/' target='_blank'>http://www.fontawesome.com.cn/faicons/</a>">
                        <i class="fa fa-question-circle-o" style="color: orange"></i></a>
                </label>
                <div class="col-sm-8">
                    <@form.iconselect name="${field}" value="${${className}.${field}?default('')}" placeholder="选择图标"/>
                </div>
            </div>
#elseif($column.htmlType == "imgcup")
        <div class="form-group">
            <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>：
            </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <@form.imageclip name="${field}" value="${${className}.${field}?default('')}"/>
                </div>
            </div>
        </div>###
#elseif($column.htmlType == "addr")
        <div class="form-group">
            <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>：
            </label>
            <div class="col-sm-8">
                 <@form.selectLinkage name="${field}" value="${${className}.${field}?default('')}"/>
            </div>
        </div>###
#elseif($column.htmlType == "select" && "" != $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                     <@form.select name="${field}" dictType="${dictType}" value="${${className}.${field}?default('')}"  #if($column.required) required=true#end  multiple=true  />
                </div>
            </div>
#elseif($column.htmlType == "select" && $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <select name="${field}" class="form-control m-b"#if($column.required) required#end>
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
#elseif($column.htmlType == "dselect" && "" != $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                     <@form.select name="${field}" dictType="${dictType}" value="${${className}.${field}?default('')}"  #if($column.required) required=true#end/>
                </div>
            </div>
#elseif($column.htmlType == "dselect" && $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <select name="${field}" class="form-control m-b"#if($column.required) required#end>
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
#elseif($column.htmlType == "radio" && "" != $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                   <@form.radio name="${field}" dictType="${dictType}" value="${${className}.${field}?default('')}" #if($column.required) required=true#end />
                </div>
            </div>
#elseif($column.htmlType == "radio" && $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="${field}" value=""#if($column.required) required#end/><span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                    </div>
                </div>
            </div>
 #elseif($column.htmlType == "checkbox" && "" != $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <@form.checkbox name="${field}" dictType="${dictType}" value="${${className}.${field}?default('')}" #if($column.required) required=true#end/>
                </div>
            </div>
 #elseif($column.htmlType == "checkbox" && $dictType)
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                       <label><input type="checkbox" name="${field}" value=""#if($column.required) required#end>
                        <label th:for="${field}" th:text="未知"></label></label>
                        <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                    </div>
            </div>
#elseif($column.htmlType == "datetime")
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="form-control time-input" name="${field}"  data-type="date"   value="${(${className}.${field}?string('yyyy-MM-dd'))!}" data-format="yyyy-MM-dd" type="text" #if($column.required) required#end/>
                    </div>
                </div>
            </div>
#elseif($column.htmlType == "textarea")
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                    <textarea name="${field}" class="form-control"#if($column.required) required#end>${${className}.${field}?default('')}</textarea>
                </div>
            </div>
#elseif($column.htmlType == "dept")
            <div class="form-group">
                <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                        <@form.treeselect name="${field}" value="${${className}.${field}?default('')}"
                          labelValue="${${className}.deptName?default('')}"
                          boxTitle="请选择管理地区" url="sys/dept/selectZtree"  correlationId="${compId_}" isSelectParent=true placeholder="请选择管理地区"/>
                </div>
            </div>
 #elseif($column.htmlType == "comp")
    #set($compId_ = $field)
            <div class="form-group">
                <label class="col-sm-4 control-label"><@ctx.i18n text = "${comment}"/>：</label>
                <div class="col-sm-8">
                        <@form.treeselect  name="${field}" value="${${className}.${field}?default('')}"
                        labelValue="${${className}.compName?default('')}"
                        boxTitle="选择归属公司" url="sys/comp/treeData?type=0" expandLevel=true  placeholder="请选择归属公司"/>
                </div>
            </div>
#else
            <div class="form-group">
                <label class="col-sm-4 control-label">#if($column.required)<span style="color: red; ">*</span>#end<@ctx.i18n text = "${comment}"/>：
                 #if($column.required && $column.info)
    #if($column.circleType == "Q")
                 <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"  data-content="${column.editInfo}">
                 <i class="fa fa-question-circle-o" style="color: orange"></i></a>
                 #elseif($column.circleType == "T")
                 <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
                #end
#end
                </label>
                <div class="col-sm-8">
                    <input name="${field}" class="form-control" type="text"#if($column.required) required#end>
                    #if($column.required && $column.info)
    #if($column.circleType == "R")
                            <span class="help-block m-b-none"><i class="fa fa-info-circle" style="color: red"></i>${column.editInfo}</span>
                        #end
#end
                </div>
            </div>
#end
        </div>
    </div>#####
#end
#end
#set($indexTag = $indexTag+1)
#end
#end###
#if($isTag == 1)
    </div>
#end
#if($table.rImg || $table.rFile)
    <h4 class="form-header h4"><@ctx.i18n text = "附件上传"/>&nbsp;<i class="fa-fw fa icon-cloud-upload"></i></h4>
#end
#if($table.rImg)### 表单有上传附件
   <div class="row">
       <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-2 control-label"><@ctx.i18n text = "图片附件上传"/>：
                </label>
                <div class="col-sm-10">
                    <@form.fileupload name="upload_img" bizId="${${className}.${pkColumn.javaField}}" bizType="${tableName}_img" isLazy=true preview="true" uploadType="image"/>
                </div>
           </div>
       </div>
    </div>
#end
#if($table.rFile)### 表单有上传附件
   <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-2 control-label"><@ctx.i18n text = "文件附件上传"/>：
                </label>
                <div class="col-sm-10">
                     <@form.fileupload name="upload_file" bizId="${${className}.${pkColumn.javaField}}" bizType="${tableName}_file" isLazy=true preview="true" uploadType="all"/>
                </div>
            </div>
        </div>
   </div>
#end
</@form.form>
    <div class="hr-line-dashed"></div>
    <div class="row" id="_addTab">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="opt.form.submit()"><i class="fa fa-check"></i><@ctx.i18n text = "保存"/></button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="opt.modal.closeTab()"><i class="fa fa-reply-all"></i><@ctx.i18n text = "关闭"/></button>
        </div>
    </div>
</div>
<@footer>
#foreach($column in $columns)
#if($column.edit && !$column.superColumn && !$column.pk && $column.htmlType == "datetime")
#break
#end
#end
<script type="text/javascript">
    var prefix = baseURL + "${moduleName}/${businessName}";
    $("#form-${businessName}-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if (opt.validate.form()) {
            opt.operate.saveTab(prefix + "/edit", $('#form-${businessName}-edit').serialize());
        }
    }
#foreach($column in $columns)
#if($column.insert && !$column.superColumn && !$column.pk && $column.htmlType == "icon")

#end
#end
#if($table.tree)
    /*${functionName}-新增-选择父部门树*/
    function select${BusinessName}Tree() {
        var options = {
            title: '${functionName}选择',
            width: "380",
            url: prefix + "/select${BusinessName}Tree/" + $("#treeId").val(),
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }
    function doSubmit(index, layero){
        var body = layer.getChildFrame('body', index);
           $("#treeId").val(body.find('#treeId').val());
           $("#treeName").val(body.find('#treeName').val());
           layer.close(index);
    }
#end
</script>
</@footer>
</@pageTheme>
