<#-- 引用特殊样式-->
<#macro ztree_css>
    <link rel="stylesheet" href="${ctxStatic}/statics/plugins/ztree/3.5/css/metroStyle/metroStyle.css?V=${config.getDvVersion()}"/>
</#macro>
<#macro select2_css>
    <link rel="stylesheet" href="${ctxStatic}/statics/plugins/select2/select2.css?V=${config.getDvVersion()}"/>
    <link rel="stylesheet" href="${ctxStatic}/statics/plugins/select2/select2-bootstrap.css?V=${config.getDvVersion()}"/>
</#macro>
<#macro jsonview_css>
    <link rel="stylesheet" href="${ctxStatic}/statics/plugins/jsonview/jquery.jsonview.css?V=${config.getDvVersion()}"/>
</#macro>
<#macro bootstrap_select_css>
    <link rel="stylesheet" href="${ctxStatic}/statics/plugins/bootstrap-select/bootstrap-select.css?V=${config.getDvVersion()}" />
</#macro>
<#macro cropbox_css>
    <link rel="stylesheet" href="${ctxStatic}/statics/plugins/cropbox/cropbox.css?V=${config.getDvVersion()}" />
</#macro>
<#macro prism_css>
    <link rel="stylesheet" src="${ctxStatic}/statics/plugins/prism/prism.css?V=${config.getDvVersion()}"></link>
</#macro>
<#macro selectpage_css>
    <link rel="stylesheet" src="${ctxStatic}/statics/plugins/selectpage/selectpage.css?V=${config.getDvVersion()}"></link>
</#macro>

<#macro summernote_css>
    <link href="${ctxStatic}/statics/plugins/summernote/summernote.css?V=${config.getDvVersion()}" rel="stylesheet"/>
    <link href="${ctxStatic}/statics/plugins/summernote/summernote-bs3.css?V=${config.getDvVersion()}" rel="stylesheet"/>
</#macro>