package ${packageName}.dao;

import ${packageName}.entity.${ClassName}Entity;
import java.util.List;
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.mapper.BaseMapper;


/**
 *
 * @ClassName: ${functionName}
 * @Package: ${packageName}
 * @Description: ${tableName}DAO接口
 * @author: ${author}
 * @time ${datetime}
 
 * /----------------------------/
 * /---><---/
 * /----------------------------/
 */
public interface ${ClassName}Dao extends BaseMapper<${ClassName}Entity> {


    /**
     * 修改${functionName}
     * 
     * @param ${className} ${functionName}
     * @return 结果
     */
    int update${ClassName}(${ClassName}Entity ${className});


    /**
     * 删除${functionName}
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return 结果
     */
    int delete${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 批量删除${functionName}
     * 
     * @param ids 需要删除的数据ID
     * @return 结果
     */
    int deleteBatch(${pkColumn.javaType}[] ids);

}
