<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eefast.framework.sys.mapper.SysUserMapper">

    <resultMap type="sysUserEntity" id="sysUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="name"    column="name"    />
        <result property="password"    column="password"    />
        <result property="salt"    column="salt"    />
        <result property="email"    column="email"    />
        <result property="mobile"    column="mobile"    />
        <result property="status"    column="status"    />
        <result property="pwdSecurityLevel"    column="pwd_security_level"    />
        <result property="pwdUpdateDate"    column="pwd_update_date"    />
        <result property="compId"    column="comp_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="cardId"    column="card_id"    />
        <result property="avatar"    column="avatar"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>


    <sql id="sqlpage">
        SELECT u.id,
        u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,
        u.dept_id,u.comp_id,d.name AS deptName,
        <if test="_databaseId == 'oracle'">
            nvl(c.name,'总公司') AS comp_name,
            listagg(l.role_name, ',') within GROUP( ORDER BY u.id) AS role_name
        </if>
        <if test="_databaseId == 'mysql'">
            ifnull(c.name,"总公司") AS comp_name,
            GROUP_CONCAT(l.role_name) AS role_name
        </if>
		FROM sys_user u
		LEFT JOIN sys_comp c ON u.comp_id = c.id
        LEFT JOIN (SELECT id, name, parent_ids FROM sys_comp) d ON u.dept_id = d.id
        LEFT JOIN sys_user_role r ON u.id = r.user_id
        LEFT JOIN sys_role l ON r.role_id = l.id
    </sql>

    <sql id="selectsysUserVo">
        SELECT id AS "id", username AS "username", name AS "name", password AS "password",
        salt AS "salt", email AS "email", mobile AS "mobile", status AS "status", pwd_security_level AS "pwdSecurityLevel",
        pwd_update_date AS "pwdUpdateDate", comp_id AS "compId", dept_id AS "deptId",
        create_time AS "createTime", card_id AS "cardId", avatar AS "avatar", update_time AS "updateTime",
        update_by AS "updateBy", create_by AS "createBy", remark AS "remark" FROM sys_user
    </sql>



    <sql id="selectRoleToUserVo">
        SELECT u.id AS id,
        u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,
        u.dept_id,u.comp_id,
        <if test="_databaseId == 'oracle'">
            nvl(c.name,'总公司') AS comp_name
        </if>
        <if test="_databaseId == 'mysql'">
            ifnull(c.name,"总公司") AS comp_name
        </if>
		FROM sys_user u
		LEFT JOIN sys_user_role r ON u.id = r.user_id
		LEFT JOIN sys_comp c ON u.comp_id = c.id
    </sql>

    <!-- 更新用户 -->
    <update id="updateUser" parameterType="sysUserEntity">
        UPDATE sys_user
        <set>
            <if test="name != null and name != ''">name = #{name,jdbcType=VARCHAR},</if>
            <if test="email != null and email != ''">email = #{email,jdbcType=VARCHAR},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile,jdbcType=VARCHAR},</if>
            <if test="status != null and status != ''">status = #{status,jdbcType=INTEGER},</if>
            <if test="compId != null">comp_id = #{compId,jdbcType=INTEGER},</if>
            <if test="deptId != null">dept_id = #{deptId,jdbcType=INTEGER},</if>
            <if test="cardId != null and cardId != ''">card_id = #{cardId,jdbcType=VARCHAR},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar,jdbcType=VARCHAR},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy,jdbcType=VARCHAR},</if>
            <if test="remark != null and remark != ''">remark = #{remark,jdbcType=VARCHAR},</if>
            update_time = sysdate()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 修改密码-->
    <update id="updatePassWord">
        UPDATE sys_user
        <set>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="salt != null and salt != ''">salt = #{salt},</if>
            <if test="pwdSecurityLevel != null and pwdSecurityLevel != ''">pwd_security_level = #{pwdSecurityLevel},</if>
            pwd_update_date = sysdate()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 修改头像-->
    <update id="updateAvatar">
        UPDATE sys_user
        <set>
            <if test="avatar != null and avatar != ''">avatar = #{avatar,jdbcType=VARCHAR},</if>
            update_time = sysdate()
        </set>
        WHERE id = #{id}
    </update>

    <select id="findUserByUserName" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="selectsysUserVo"/>
        WHERE username = #{userName} AND del_flag = '0'
    </select>

    <select id="findAuthByUuid" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        SELECT b.id AS "id", b.username AS "username",b.password AS "password" FROM sys_auth_user a LEFT JOIN sys_user b on a.user_id = b.id
        WHERE a.uuid = #{uuid} AND b.del_flag = '0'
    </select>

    <select id="findAuthByUserName" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        SELECT b.id AS "id", b.username AS "username",b. name AS "name", b.password AS "password",
        b.salt AS "salt", b.email AS "email", b.mobile AS "mobile", b.status AS "status", b.pwd_security_level AS "pwdSecurityLevel",
        b.pwd_update_date AS "pwdUpdateDate", b.comp_id AS "compId", b.dept_id AS "deptId",
        b.create_time AS "createTime", b.card_id AS "cardId", b.avatar AS "avatar", b.update_time AS "updateTime", a.source AS "source",
        b.update_by AS "updateBy", b.create_by AS "createBy", b.remark AS "remark" FROM sys_auth_user a LEFT JOIN sys_user b on a.user_id = b.id
        WHERE b.username = #{username} AND b.del_flag = '0'
    </select>

    <select id="findUserByMobile" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="selectsysUserVo"/>
        WHERE mobile = #{mobile} AND del_flag = '0'
    </select>

    <select id="findUserByEmail" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="selectsysUserVo"/>
        WHERE email = #{email} AND del_flag = '0'
    </select>

    <sql id="Base_Column_CompName">
          
    </sql>
    
    <select id="findCompNameByUserId" resultType="String">
        SELECT ur.name AS CompName
        FROM  sys_user u
        LEFT JOIN sys_comp ur ON ur.id = u.comp_id
        WHERE u.id = #{id} AND u.del_flag != '1'
    </select>

    <!-- 查询用户的所有菜单ID -->
    <select id="findAllMenuId" resultType="long">
		SELECT DISTINCT rm.menu_id FROM sys_user_role ur
			LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
		WHERE ur.user_id = #{id}
	</select>

    <!-- 用户页面表格 分页查询-->
    <select id="findPage" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="sqlpage"/>
        WHERE u.del_flag = '0'
        <if test = "username !=null and username!=''">
            AND u.username LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{username}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{username}, '%')</if>
        </if>
        <if test = "status !=null and status!=''">
            AND u.status = #{status}
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{mobile}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{mobile}, '%')</if>
        </if>
        <if test="email != null and email != ''">
            AND u.email LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{email}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{email}, '%')</if>
        </if>
        <if test="compId != null and compId != ''">
            AND FIND_IN_SET(#{compId},d.parent_ids) OR (u.dept_id = #{compId} AND u.del_flag = '0')
        </if>
        <if test="deptId != null and deptId != ''">
            AND u.dept_id  = #{deptId}
        </if>
        <if test = "sql_filter !=null and sql_filter!=''">
            AND ${sql_filter}
        </if>
        <if test="_databaseId == 'oracle'">GROUP BY u.id,u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,u.dept_id,u.comp_id,c.name</if>
        <if test="_databaseId == 'mysql'">GROUP BY u.id</if>
    </select>

    <select id="findList" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="sqlpage"/>
        WHERE u.del_flag = '0'
        <if test = "username !=null and username!=''">
            AND u.username LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{username}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{username}, '%')</if>
        </if>
        <if test = "status !=null and status!=''">
            AND u.status = #{status}
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{mobile}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{mobile}, '%')</if>
        </if>
        <if test="email != null and email != ''">
            AND u.email LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{email}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{email}, '%')</if>
        </if>
        <if test="compId != null and compId != ''">
            AND u.comp_id  = #{compId}
        </if>
        <if test = "sql_filter !=null and sql_filter!=''">
            AND ${sql_filter}
        </if>
        <if test="_databaseId == 'oracle'">GROUP BY u.id,u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,u.dept_id,u.comp_id,c.name</if>
        <if test="_databaseId == 'mysql'">GROUP BY u.id</if>
    </select>

    <select id="findUserByRolePage" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="sqlpage"/>
        WHERE
        u.del_flag = '0' AND
        r.role_id = #{roleId}
        <if test = "username !=null and username!=''">
            AND u.username LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{username}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{username}, '%')</if>
        </if>
        <if test = "status !=null and status!=''">
            AND u.status = #{status}
        </if>
        <if test = "mobile !=null and mobile!=''">
            AND u.mobile LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{mobile}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{mobile}, '%')</if>
        </if>
        <if test = "email !=null and email!=''">
            AND u.email LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{email}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{email}, '%')</if>
        </if>
        <if test="compId != null and compId != ''">
            AND FIND_IN_SET(#{compId},d.parent_ids) OR (u.dept_id = #{compId} AND u.del_flag = '0')
        </if>
        <if test = "sql_filter !=null and sql_filter!=''">
            AND ${sql_filter}
        </if>
        <if test="_databaseId == 'oracle'">GROUP BY u.id,u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,u.dept_id,u.comp_id,c.name</if>
        <if test="_databaseId == 'mysql'">GROUP BY u.id</if>
    </select>

    <!-- 角色授权用户 还没有授权的用户列表-->
    <select id="findUnallocatedList" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="sqlpage"/>
        WHERE (l.id != #{roleId} or l.id IS NULL)
        AND u.id NOT IN (SELECT u.id FROM sys_user u INNER JOIN sys_user_role ur ON u.id = ur.user_id AND ur.role_id = #{roleId})
        AND u.del_flag = '0'
        <if test="username != null and username != ''">
            AND u.username LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{username}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{username}, '%')</if>
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile LIKE
            <if test="_databaseId == 'oracle'"> '%,'||#{mobile}||',%'</if>
            <if test="_databaseId == 'mysql'"> CONCAT('%', #{mobile}, '%')</if>
        </if>
        <if test="email != null and email != ''">
            AND u.email LIKE CONCAT('%', #{email}, '%')
        </if>
        <if test="compId != null and compId != ''">
            AND FIND_IN_SET(#{compId},d.parent_ids) OR (u.dept_id = #{compId} AND u.del_flag = '0')
        </if>
        <!-- 数据范围过滤 -->
        <if test = "sql_filter !=null and sql_filter!=''">
            AND ${sql_filter}
        </if>
        <if test="_databaseId == 'oracle'">GROUP BY u.id,u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,u.dept_id,u.comp_id,c.name</if>
        <if test="_databaseId == 'mysql'">GROUP BY u.id</if>
    </select>


    <update id="setStatus">
        UPDATE sys_user SET status = #{status} WHERE id = #{id}
    </update>

    <update id="changePwd">
        UPDATE sys_user
        <set>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="salt != null and salt != ''">salt = #{salt},</if>
            <if test="pwdSecurityLevel != null and pwdSecurityLevel != ''">pwd_security_level = #{pwdSecurityLevel},</if>
            pwd_update_date = sysdate()
        </set>
        WHERE id = #{id}
     </update>


    <select id="findUserByUserId" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        SELECT u.id AS id,
        u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,
        u.dept_id,u.comp_id,d.name AS deptName,
        <if test="_databaseId == 'oracle'">NVL(c.name,'总公司') AS comp_name</if>
        <if test="_databaseId == 'mysql'">IFNULL(c.name,"总公司") AS comp_name</if>
		FROM sys_user u
        LEFT JOIN sys_comp c ON u.comp_id = c.id
        LEFT JOIN (SELECT id, name FROM sys_comp) d ON u.dept_id = d.id
        WHERE u.id = #{id} AND u.del_flag = '0'
    </select>

</mapper>