<#include "/common/include.html"/>
<@pageTheme mark="${config.optimize()?string('true', 'false')}">
    <@header title="报信息列表">
    </@header>
    <@search fromId="poi-form">
        <div class="select-list">
            <ul>
                <li>
                    公司名称：
                    <input type="text" name="name"/>
                </li>
                <li>
                    报表文件名称：
                    <input type="text" name="filename"/>
                </li>
                <li>
                    报表类型：
                    <select name="type">
                        <option value="">所有</option>
                        <#list dict.getType('bcs_poi_type')>
                            <#items as d>
                                <#if d.status =='0' >
                                    <option value="${d.dictValue}" text="${d.dictLabel}">${d.dictLabel}</option>
                                </#if>
                            </#items>
                        </#list>
                    </select>
                </li>
                <li>
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>  <@ctx.i18n text = "查询"/></a>
                    <a class="btn btn-warning btn-rounded btn-sm" onclick="opt.form.reset()"><i class="fa fa-refresh"></i> <@ctx.i18n text = "重置"/></a>
                </li>
            </ul>
        </div>
    </@search>
    <@table tableId="bootstrap-table">


    </@table>
    <@footer>
        <script>

            var typeDatas = ${dict.getDictListJson('bcs_poi_type')};
            var prefix = baseURL + "sys/poi";

            $(function() {
                var options = {
                    url: prefix + "/list",
                    modalName: "报信息",
                    columns: [{
                        title: $.i18n.prop("序号"), width: 5, align: "center", formatter: function (value, row, index) {
                            return $.table.serialNumber(index);
                        }
                    }
                        ,{
                            field : 'id',
                            title : 'ID',
                            visible: false
                        }
                        ,{
                            field : 'name',
                            title : '公司名称'
                        }
                        ,{
                            field : 'filename',
                            title : '报表文件名称'
                        }
                        ,{
                            field : 'type',
                            title : '报表类型',
                            formatter: function(value, row, index) {
                                return $.table.selectDictLabel(typeDatas, value);
                            }
                        }
                        ,{
                            field : 'time',
                            sortable: true,
                            title : '报表时间'
                        }
                    ]
                };
                $.table.init(options);
            });

        </script>
    </@footer>
</@pageTheme>