@charset "utf-8";
.login-page .login-box-body .form-control-feedback {
    cursor: pointer;
    pointer-events: auto;
    color: rgb(177, 198, 219);
}
.icheck label {
    margin: 0;
    padding: 2px 8px 0 0;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}
.icheck label div {
    margin-top: -3px;
    margin-right: 5px;
}
.layui-body{
    position: relative;
    left: 0px;
    z-index: 800;
}
.layui-tab-card>.layui-tab-title li{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.layui-tab-item{
    width: 100%;
    height: 100%;
    background-color: #f3f3f4;
    position: relative;
}
.layui-tab-content .layui-tab-item iframe{
    width: 100%;
    border: 0;
}
.larry-tab-box>.layui-tab-title .layui-this{
    color: #23508e;
    background-color: #eaedf1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}
/*TAB默认*/
.larry-tab-box>.layui-tab-title .layui-this.layui-this:after {
    width: 100%;
    border: 0;
    height: 2px;
    background-color: #292b34;
    border-radius: 0;
}
.layui-tab-title li .layui-tab-close:hover {
    transform: scale(1.2);
    background-color:transparent;
    color: #FF5722;
}
.layui-tab-card>.layui-tab-title {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    background-color: #fff;
    /*border: 0;*/
    padding: 0 35px 0 35px;
    border-bottom: 1px solid #eee;

}
.layui-tab-title .layui-tab-bar {
    display: none;
}
.layui-layer-note textarea {
    display: block;
    width: 300px;
    height: 132px;
    min-width: 300px;
    min-height: 132px;
    line-height: 20px;
    padding: 10px 20px;
    border: none;
    box-sizing: border-box;
    color: #666;
    word-wrap: break-word;
}

.layui-layer-note .layui-layer-title {
    background-color: #FFF2AB !important;
    color: #7F7855 !important;
}
.layui-layer-note .layui-layer-setwin{
    position: static;
}
.layui-layer-note i[close] {
    position: absolute;
    padding: 5px;
    right: 5px;
    top: 7px;
    color: #7F7855;
    cursor: pointer;
}

.layui-layer-note textarea {
    display: block;
    width: 400px;
    height: 232px;
    min-width: 400px;
    min-height: 232px;
    line-height: 20px;
    padding: 10px 20px;
    border: none;
    box-sizing: border-box;
    color: #000;
    background-color: #FFF7D1;
    word-wrap: break-word;
}

/***本地便签****/

.layui-layer.layui-layer-adminRight>.layui-layer-content, .layui-layer.layui-layer-adminRight>.layui-layer-content>iframe {
    height: 95%!important;
}

.layui-layer.layui-layer-adminRight {
    bottom: 0;
    top: 50px!important;
    border: none!important;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3)!important;
    overflow: auto;
}

.layui-layer-adminRight  .layui-layer-title {
    background-color: #344058 !important;
    color: #fff !important;
    position: relative !important;
    height: 42px !important;
    line-height: 42px !important;
    padding: 0 15px !important;
}

.btn-circle {
    width: 40px;
    height: 40px;
    line-height: 33px;
    border-radius: 50%;
    background: #009688;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    cursor: pointer
}

.btn-circle:hover {
    color: #fff;
    opacity: .8
}

.btn-circle .layui-icon {
    font-size: 20px
}


.note-wrapper {
    padding: 15px 0 15px 20px;
    background-color: #fbfbfb;
    position: absolute;
    display: none;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.note-wrapper .note-item {
    display: inline-block;
    width: 140px;
    padding: 12px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    margin: 0 15px 15px 0;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.note-wrapper .note-item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .05);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

.note-wrapper .note-item .note-item-content {
    color: #666;
    height: 80px;
    font-size: 14px;
    overflow: hidden;
    word-break: break-all;
}

.note-wrapper .note-item .note-item-time {
    color: #999;
    font-size: 12px;
    margin-top: 8px;
}

.note-wrapper .note-item .note-item-del {
    position: absolute;
    top: 2px;
    right: 2px;
    color: #FF5722;
    font-size: 24px;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 50%;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
}

.note-wrapper .note-item:hover .note-item-del {
    visibility: visible;
    opacity: 1;
}

.note-empty {
    color: #999;
    padding: 80px 0;
    text-align: center;
    display: none;
    position: relative;
    z-index: 1
}

.note-empty p{
    margin: 0px 20px!important;
    line-height: 20px;
}

.note-empty .layui-icon {
    font-size: 60px;
    margin-bottom: 10px;
    display: inline-block;
}


@-webkit-keyframes layui-rl {
    from {
        -webkit-transform: translate3d(100%,0,0)
    }

    to {
        -webkit-transform: translate3d(0,0,0)
    }
}

@keyframes layui-rl {
    from {
        transform: translate3d(100%,0,0)
    }

    to {
        transform: translate3d(0,0,0)
    }
}

.layui-anim-rl {
    -webkit-animation-name: layui-rl;
    animation-name: layui-rl
}

@-webkit-keyframes layui-lr {
    from {
        -webkit-transform: translate3d(0 0,0);
        opacity: 1
    }

    to {
        -webkit-transform: translate3d(100%,0,0);
        opacity: 1
    }
}

@keyframes layui-lr {
    from {
        transform: translate3d(0,0,0)
    }

    to {
        transform: translate3d(100%,0,0)
    }
}

.layui-anim-lr,.layui-anim-rl.layer-anim-close {
    -webkit-animation-name: layui-lr;
    animation-name: layui-lr
}
/****/
.admin-tabs-control {
    position: absolute;
    top: 0;
    width: 35px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    z-index: 1000;
    background-color: white;
}
.layui-icon-prev {
    left: 0;
    border-left: none;
    border-right: 1px solid #eee;
}

.layui-icon-next {
    right: -2px;
}

.admin-tabs-control:hover {
    background-color: #eee;
}
.layui-tab-title li .layui-tab-close{
    width: 16px;
    height: 16px;
    margin-left: 4px;
}
.layuiTabClose{
    background: url(../img/default.png) -48px 0;
}

.layui-tab-title li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-size: 13px;
    transition: all .2s;
    -webkit-transition: all .2s;
    border-right: solid 1px #eee;
    position: relative;
    line-height: 40px;
    min-width: 65px;
    padding: 0 8px;
    text-align: center;
    cursor: pointer;
}
.layui-tab-title li:hover {
    background-color:#eee;
}
.dropdown-menu .user-header h4{
    color: white;
}
.dropdown-menu .user-header small{
    color: white;
}
.layui-form-item .layui-input-inline {
    float: left;
    width: 350px;
    margin-right: 10px;
}
.laber-account{
    padding:3px 6px;margin-top:8px;width:auto;border-radius:5px;text-align: left;background-color:#009688; color: #fff;
}
.navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu{
    width: 70px;
    text-align: center;
}
.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 130px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}
/** 遮罩层 **/
.loaderbox {
    display: inline-block;
    min-width: 125px;
    padding: 10px;
    margin: 0 auto;
    color: #000 !important;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.main-footer{
    bottom: 0px;
    position: fixed;
    width: 100%;
    left: 0px;
}

.loaderbox .loading-activity {
    float: left;
    width: 18px;
    height: 18px;
    border: solid 2px transparent;
    border-top-color: #000;
    border-left-color: #000;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}
@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-primary, .btn-primary:hover{
    background-color: #1890ff!important;
    border-color: #1890ff!important;
}

/** 滚动条样式 **/
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #999;
}

