<#include "/common/defaultEngine.html">
<@pageTheme mark="${config.optimize()?string('true', 'false')}">
<@header  title="主页">
</@header>
    <div class="row  border-bottom white-bg dashboard-header" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-8">
            <h2>J2eeFAST 开源平台</h2>
            <p>
                J2eeFAST 是一个 Java EE 企业级快速开发平台，基于经典技术组合（Spring Boot、Spring MVC、Apache Shiro、MyBatis、freemarker、Bootstrap、AdminLTE）采用经典开发模式，让初学者能够更快的入门并投入到团队开发中去。
                在线代码生成功能，包括核心模块如：组织机构、角色用户、菜单及按钮授权、数据权限、系统参数、内容管理、license认证,BPM工作流等。采用松耦合设计；界面无刷新，一键换肤,一键国际化；众多账号安全设置，密码策略；在线定时任务配置；支持集群，支持SAAS；支持多数据源；支持读写分离、分库分表.
            </p>
            <p>
                <b>当前版本：</b><span class="label label-warning">v${config.getVersion()}</span>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot 2.2.5.RELEASE </li>
                <li>安全框架：Apache Shiro</li>
                <li>模板引擎：Freemarker</li>
                <li>工作流引擎：Flowable 6.4.2</li>
                <li>前端：AdminLTE 2.3.8, Bootstrap 3.3.7, Bootstrap-Table 1.11.0, JQuery 3.3.1</li>
                <li>持久层框架：MyBatis-Plus 3.3.1</li>
                <li>定时任务: Quartz</li>
                <li>数据库连接池：Druid 1.10.1</li>
                <li>工具类：Hutool 4.5.8</li>
                <li>更多……</li> 
            </ol>
        </div>

    </div>
    <div class="gray-bg mt20">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志 <i class="fa fa-file-text-o"></i></h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#v8" href="#v">v2.0.8<code class="pull-right">2020.08.10</code></a>
                                        </h5>
                                    </div>
                                    <div id="v8" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 解决issues #I1LLJX 问题,页面多个表格回调混乱问题.</li>
                                                <li>2. 修复用户头像不存在、或者头像地址异常显示问题</li>
                                                <li>3. 修复CVE-2020-11996 | Apache Tomcat HTTP/2拒绝服务漏洞</li>
                                                <li>4. 修复JAT 设置日志名称路径无效问题</li>
                                                <li>5. 修改输入框后图标带点击事件样式.</li>
                                                <li>6. 优化页面ibox卡片样式UI</li>
                                                <li>7. 新增登录验证码类型[支持算数格式]</li>
                                                <li>8. 修复系统监控获取硬盘信息光驱问题</li>
                                                <li>9. 修复表格冻结列问题</li>
                                                <li>10.优化表格冻结列样式</li>
                                                <li>11.扩增字典表数据值长度</li>
                                                <li>12.新增上传组件</li>
                                                <li>13.优化代码生成器新增关联公司机构，支持生成TAB页面</li>
                                                <li>14.新增第三方登录集成JustAuth插件</li>
                                                <li>15.新增上传文件管理表与业务关联表</li>
                                                <li>16.代码生成器支持单独生成实体类，支持代码生成业务关联上传组件</li>
                                                <li>17.支持上传信息在线预览功能，fastJS.js 新增打开视图方法</li>
                                                <li>18.新增多级联动控件(未优化完),新增多级异步联动示例</li>
                                                <li>19.项目文档转移至[语雀]、Gitee WIKI文档不在维护、更新</li>
                                                <li>20.新增无密登录方法</li>
                                                <li>21.优化其他细节</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#v7" href="#v">v2.0.7<code class="pull-right">2020.06.23</code></a>
                                        </h5>
                                    </div>
                                    <div id="v7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 删除多余依赖</li>
                                                <li>2. @paradisehere 修复新建菜单，尚未新建菜单时左侧菜单栏404报错</li>
                                                <li>3. 新增一个表单显示国际化案例</li>
                                                <li>4. @临时的 增加了代码产生模块表构结刷新功能</li>
                                                <li>5. @临时的 代码生成模块修正checkbox在增删改查，列表使用问题</li>
                                                <li>6. @临时的 增加了一个单表的增删改查范例，基本包含了目前的所有表单控件.</li>
                                                <li>7. 修复代码生成页面大量空格格式问题</li>
                                                <li>8. 新增多级菜单演示</li>
                                                <li>9. 修复代码生成器选择生成路径获取本地磁盘有光驱报错问题</li>
                                                <li>10.修复弹窗加载遮罩问题</li>
                                                <li>11.重构项目系统数据权限</li>
                                                <li>12.重构前端页面布局</li>
                                                <li>13.新增前端组件功能</li>
                                                <li>14.优化项目启动</li>
                                                <li>15.升级fastjson 1.2.69, 防止安全漏洞</li>
                                                <li>16.新增系统手动热加载mapper.xml, 修改mapper文件无需重启项目,配合开发工具到此本项目开发无需重启项目整体实现热加载</li>
                                                <li>17.新增前端引擎使用，组件使用demo</li>
                                                <li>18.新增登录提示音</li>
                                                <li>19.修复bootstrap-table.js源码压缩阅读不友好问题</li>
                                                <li>20.新增表格行title提示</li>
                                                <li>21.优化用户登录解密异常问题</li>
                                                <li>22.重构项目定时任务模块</li>
                                                <li>23.修改权限控制，数据控制精确到菜单权限上.便于更加细致化的控制</li>
                                                <li>24.layer.js 增强type=2 iframe 层POST可以POST 提交</li>
                                                <li>25.参数管理、字典管理新增缓存清除功能,便于开发清除缓存</li>
                                                <li>26.新增用户查询侧边栏关联机构</li>
                                                <li>27.优化其他细节</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#v6" href="#v41">v2.0.6<code class="pull-right">2020.05.17</code></a>
                                        </h5>
                                    </div>
                                    <div id="v6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 新增BPM 工作流模块</li>
                                                <li>2. 修复登陆页面安全key cookie超时导致登陆异常问题</li>
                                                <li>3. 新增报表导出功能</li>
                                                <li>4. 修改fastJS.js 支持报表导出</li>
                                                <li>5. 修复用户删除问题,不能自身删除自身</li>
                                                <li>6. 修复ie版本过低提示页面问题.</li>
                                                <li>7. 修改@MapperScan注解到配置文件,便于二次开发</li>
                                                <li>8. 使用Hutool获取硬件信息解决获取机器码兼容性问题</li>
                                                <li>9. 升级layer到3.1.1最新版本,解决监听窗口拉伸动作问题</li>
                                                <li>10.修复国际化切换[繁体]异常问题</li>
                                                <li>11.首页新增[便签]小工具</li>
                                                <li>12.修复菜单层级问题,理论可以支持无限级</li>
                                                <li>13.新增大量文档</li>
                                                <li>14.修复部分细节</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#v5" href="#v41">v2.0.5<code class="pull-right">2020.05.10</code></a>
                                        </h5>
                                    </div>
                                    <div id="v5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 优化项目打包流程,call mvn install 一键打gz包</li>
                                                <li>2. 修改Yml工具类增强获取文件</li>
                                                <li>3. 修改打包运行内存</li>
                                                <li>4. 修复新增模块404异常,编辑菜单模块提交重复问题</li>
                                                <li>5. 修复菜单缓存多个模块问题</li>
                                                <li>6. 优化页面部分窗口小图标</li>
                                                <li>7.修复在使用Nginx反向代理, 获取真实IP问题</li>
                                                <li>8.修复系统设置默认语言不生效问题</li>
                                                <li>9.修复mac系统获取机器码异常问题,在此感谢@Mico、@AKAI 提供的测试与代码</li>
                                                <li>10.新增系统兼容Oracle,到此J2eeFAST 已经可以同时兼容Mysql,与Orcale.其他支持可以自行扩增</li>
                                                <li>11.修改对多源数据库支持,改成数据库配置形式可以无限扩展,实时生效。</li>
                                                <li>12.修复前端界面不能获取语言不能通过cookie获取问题.</li>
                                                <li>13.新增启动扫描配置文件</li>
                                                <li>14.修复因网络变动而导致机器码变动的情况.</li>
                                                <li>15.新增502页面,主要用于配合nginx反向代理使用.当服务器升级期间通过nginx引导502页面</li>
                                                <li>16.修复若干细节</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#v4" href="#v41">v2.0.4<code class="pull-right">2020.04.11</code></a>
                                        </h5>
                                    </div>
                                    <div id="v4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 新增百度ueditor富文本编辑器更换之前编辑器</li>
                                                <li>2. 增强ueditor 新增在线删除功能,修改ueditor 完全适配fastos,页面引入直接使用</li>
                                                <li>3. 增加上传图片添加水印</li>
                                                <li>4. 修改公告展示页面，改用iframe引入确保页面所见即所得</li>
                                                <li>5. 修复授权角色选中值丢失情况</li>
                                                <li>6. 修复表格初始化选中，获取选中行值丢失问题</li>
                                                <li>7.修复TAB栏菜单刷新/TAB切换刷新问题</li>
                                                <li>8.修复定时任务功能cron工具 不能显示最近执行时间，查询列表新增下次执行时间字段</li>
                                                <li>9.新增3套登陆页面风格,可以再后台配置默认风格</li>
                                                <li>10.整合Spring注解Redis缓存,解决Redis故障或者不可用情况任然可以执行方法获取参数</li>
                                                <li>11.兼容不配置Redis缓存数据库项目也可以运行</li>
                                                <li>12.解决初次登陆显示问题</li>
                                                <li>13.登陆页面主页面增加页面压缩减低易读性，提高安全性。此功能可以全局开启</li>
                                                <li>14.完善国际化字段</li>
                                                <li>15.去掉Dao包,简化代码</li>
                                                <li>16.调整包名统一规范</li>
                                                <li>17. 优化代码，修复若干细节</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#v3" href="#v41">v2.0.3<code class="pull-right">2020.03.28</code></a>
                                        </h5>
                                    </div>
                                    <div id="v3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. fastjson升级1.2.67 阻止漏洞</li>
                                                <li>2. 修复tab菜单关闭当前BUG</li>
                                                <li>3. 修复浏览器版本底,提示页面404问题</li>
                                                <li>4. 新增yml字段加密写法</li>
                                                <li>5. 新增yml文件敏感信息加密处理</li>
                                                <li>6. 新增信息加密测试类</li>
                                                <li>7. 感谢@<u>wangyu</u> 提出问题，修改公司,地区 顶级节点报错问题</li>
                                                <li>8. 修复树表格 展开/折叠 BUG</li>
                                                <li>9. 升级Swagger到2.9.2 新增swagger-bootstrap-ui 优化接口展示</li>
                                                <li>10. 新增公告发布功能.信息延迟推送，可设置时效性。</li>
                                                <li>11. 修复修改头像点击多次弹出多个对话框情况</li>
                                                <li>12. 修改定时任务可以选择cron执行表达式，方便添加任务</li>
                                                <li>13. 统一处理前端传入日期格式转换</li>
                                                <li>14. 修复若干细节</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#v2" href="#v41">v2.0.2<code class="pull-right">2020.03.20</code></a>
                                        </h5>
                                    </div>
                                    <div id="v2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 新增产品许可功能</li>
                                                <li>2. 系统启动验证证书是否合法</li>
                                                <li>3. 修改用户、权限页面滑动按钮获取表ID数据丢失导致页面异常情况</li>
                                                <li>4. 配置文件新增项目参品名称、license证书、公钥存放位置字段</li>
                                                <li>5. 新增测试数据SQL</li>
                                                <li>6. fastJS.js 新增页面模板引擎,优化部分代码</li>
                                                <li>7. 删除多余类与无用的引用</li>
                                                <li>8. 针对Apache Shiro Padding Oracle导致远程代码执行漏洞,Apache Shiro 1.4.1 升级 1.4.2 安全版本</li>
                                                <li>9. 感谢@<u>凌晨雨薇</u>提出的问题, 修复登陆页面免登录记住我BUG,但是作者建议此功能正式项目不用此功能.有远程执行风险</li>
                                                <li>10. 测试模式定时任务不执行问题</li>
                                                <li>11. 修复删除操作日志报错问题</li>
                                                <li>12. 其他细节优化</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#v0" href="#v00">v2.0.1<code class="pull-right">2020.03.01</code></a>
                                        </h4>
                                    </div>
                                    <div id="v0" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>FAST云OS系统正式发布(后更名J2eeFAST)</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 style="color: red">关于系统 <i class="fa fa-info-circle"></i></h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <i class="fa fa-snapchat-ghost"></i>：
                            J2eeFAST (快速开发开源系统)名字由来:包含作者对于软件开发的美好幻想，希望软件开发变的快速而简单，每个人都能分享自己的技术从而达到快速又强大的软件系统,让我们有更多的时间去陪伴家人!<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可能在本系统中看到众多优秀开源项目的影子，因为她本身集成了众多优秀的开源项目精华功能，在这种环境中成长的，但是她目前还有很多缺点，
                            希望大神们嘴下留情。如果你也喜欢开源、喜欢本项目,作者欢迎您的加入,J2eeFAST会因为您的加入而变的更加完善与丰富!
                        </p>
                        <p class="mt10"><i class="fa fa-send-o"></i> ：如果本项目对你有帮助<ins><a href="https://gitee.com/zhouhuanOGP/J2EEFAST" target="_blank">请点击Star收藏</a></ins>(<a href="javascript:show()">点击查看</a>),<strong>本项目会长期维护</strong>,若你在使用中有<u>任何问题或建议</u>欢迎在<del><a href="https://gitee.com/zhouhuanOGP/J2EEFAST/issues" target="_blank">码云issue提交问题</a></del>作者会第一时间处理，让我们一起完善J2eeFAST
                        </p>
                        <p class="mt5"><i class="fa icon-cursor"></i> 官网：<a href="http://www.j2eefast.com" target="_blank">http://www.j2eefast.com</a>
                        </p>
                        <p class="mt5"><i class="fa fa-book"></i> 关于文档：<a href="https://www.yuque.com/u1174484/j2eefast/tv3kee" target="_blank">语雀 文档</a>
                        </p>
                        <p class="mt5"><i class="fa fa-cloud-upload"></i> 关于更新：项目每周都会有更新,演示网站会在周五~周日,不定期暂停访问,带来不便尽情谅解!
                        </p>
                        <p class="mt5"><i class="fa fa-qq"></i> QQ群：<a href="https://jq.qq.com/?_wv=1027&k=5xTlnN6" target="_blank">805468934</a>
                        </p>
                        <p class="mt5"><i class="fa fa-envelope-open-o"></i> <strong>免责声明：</strong>
                        <li style="color: red;"><strong>1. 本项目代码全部开源，无需任何费用。如果有人向你贩卖本系统都是骗子!</strong></li>
                        <li>2. 不得将 J2eeFAST 于危害国家安全、荣誉和利益的行为，不能以任何形式用于非法为目的的行为,否则后果自负</li>
                        <li>3. J2eeFAST 前身主要用于银行项目,本身很注重安全因素,可以从项目登陆可以看出.但是您也需了解使用本软件的风险，是软件皆有漏洞，任何人都无法保证100%没有漏洞，所以由软件漏洞造成的损失不予赔偿，也不承担任何因使用本软件而产生相关法律责任。请软件上线使用前进行足够的安全检测，以避免此问题发生。</li>
                        <li>4. 新版本会增加项目启动证书认证,可以使用你的机器码在本系统中生成证书后启动。若你是大神则略过!</li>
                        </p>
                        <p class="mt20">
                            <a class="btn btn-success btn-outline" href="https://gitee.com/zhouhuanOGP/J2EEFAST" target="_blank">
                                <i class="fa fa-cloud"> </i> 访问码云
                            </a>
                            <a class="btn btn-danger btn-bitbucket" href="https://gitee.com/zhouhuanOGP/J2EEFAST/repository/archive/master.zip" target="_blank">
                                <i class="fa fa-cloud-download"></i> 下载项目
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<#--    <div class="row">-->
<#--        <div class="col-sm-3">-->
<#--            <div class="ibox float-e-margins">-->
<#--                <div class="ibox-title">-->
<#--                    <span class="label label-success pull-right">月</span>-->
<#--                    <h5>收入</h5>-->
<#--                </div>-->
<#--                <div class="ibox-content">-->
<#--                    <h1 class="no-margins">40 886,200</h1>-->
<#--                    <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>-->
<#--                    </div>-->
<#--                    <small>总收入</small>-->
<#--                </div>-->
<#--            </div>-->
<#--        </div>-->
<#--        <div class="col-sm-3">-->
<#--            <div class="ibox float-e-margins">-->
<#--                <div class="ibox-title">-->
<#--                    <span class="label label-info pull-right">全年</span>-->
<#--                    <h5>订单</h5>-->
<#--                </div>-->
<#--                <div class="ibox-content">-->
<#--                    <h1 class="no-margins">275,800</h1>-->
<#--                    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i>-->
<#--                    </div>-->
<#--                    <small>新订单</small>-->
<#--                </div>-->
<#--            </div>-->
<#--        </div>-->
<#--        <div class="col-sm-3">-->
<#--            <div class="ibox float-e-margins">-->
<#--                <div class="ibox-title">-->
<#--                    <span class="label label-primary pull-right">今天</span>-->
<#--                    <h5>访客</h5>-->
<#--                </div>-->
<#--                <div class="ibox-content">-->
<#--                    <h1 class="no-margins">106,120</h1>-->
<#--                    <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i>-->
<#--                    </div>-->
<#--                    <small>新访客</small>-->
<#--                </div>-->
<#--            </div>-->
<#--        </div>-->
<#--        <div class="col-sm-3">-->
<#--            <div class="ibox float-e-margins">-->
<#--                <div class="ibox-title">-->
<#--                    <span class="label label-danger pull-right">最近一个月</span>-->
<#--                    <h5>活跃用户</h5>-->
<#--                </div>-->
<#--                <div class="ibox-content">-->
<#--                    <h1 class="no-margins">80,600</h1>-->
<#--                    <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i>-->
<#--                    </div>-->
<#--                    <small>12月</small>-->
<#--                </div>-->
<#--            </div>-->
<#--        </div>-->
<#--    </div>-->
<#--    <div class="row">-->
<#--        <div class="col-sm-12">-->
<#--            <div class="ibox float-e-margins">-->
<#--                <div class="ibox-title">-->
<#--                    <h5>用户项目列表</h5>-->
<#--                    <div class="ibox-tools">-->
<#--                        <a class="collapse-link">-->
<#--                            <i class="fa fa-chevron-up"></i>-->
<#--                        </a>-->
<#--                        <a class="close-link">-->
<#--                            <i class="fa fa-times"></i>-->
<#--                        </a>-->
<#--                    </div>-->
<#--                </div>-->
<#--                <div class="ibox-content">-->
<#--                    <table class="table table-hover no-margins">-->
<#--                        <thead>-->
<#--                        <tr>-->
<#--                            <th>状态</th>-->
<#--                            <th>日期</th>-->
<#--                            <th>用户</th>-->
<#--                            <th>值</th>-->
<#--                        </tr>-->
<#--                        </thead>-->
<#--                        <tbody>-->
<#--                        <tr>-->
<#--                            <td><small>进行中...</small>-->
<#--                            </td>-->
<#--                            <td><i class="fa fa-clock-o"></i> 11:20</td>-->
<#--                            <td>青衣5858</td>-->
<#--                            <td class="text-navy"> <i class="fa fa-level-up"></i> 24%</td>-->
<#--                        </tr>-->
<#--                        <tr>-->
<#--                            <td><span class="label label-warning">已取消</span>-->
<#--                            </td>-->
<#--                            <td><i class="fa fa-clock-o"></i> 10:40</td>-->
<#--                            <td>徐子崴</td>-->
<#--                            <td class="text-navy"> <i class="fa fa-level-up"></i> 66%</td>-->
<#--                        </tr>-->
<#--                        <tr>-->
<#--                            <td><small>进行中...</small>-->
<#--                            </td>-->
<#--                            <td><i class="fa fa-clock-o"></i> 01:30</td>-->
<#--                            <td>姜岚昕</td>-->
<#--                            <td class="text-navy"> <i class="fa fa-level-up"></i> 54%</td>-->
<#--                        </tr>-->
<#--                        <tr>-->
<#--                            <td><small>进行中...</small>-->
<#--                            </td>-->
<#--                            <td><i class="fa fa-clock-o"></i> 02:20</td>-->
<#--                            <td>武汉大兵哥</td>-->
<#--                            <td class="text-navy"> <i class="fa fa-level-up"></i> 12%</td>-->
<#--                        </tr>-->
<#--                        <tr>-->
<#--                            <td><small>进行中...</small>-->
<#--                            </td>-->
<#--                            <td><i class="fa fa-clock-o"></i> 09:40</td>-->
<#--                            <td>荆莹儿</td>-->
<#--                            <td class="text-navy"> <i class="fa fa-level-up"></i> 22%</td>-->
<#--                        </tr>-->
<#--                        <tr>-->
<#--                            <td><span class="label label-primary">已完成</span>-->
<#--                            </td>-->
<#--                            <td><i class="fa fa-clock-o"></i> 04:10</td>-->
<#--                            <td>栾某某</td>-->
<#--                            <td class="text-navy"> <i class="fa fa-level-up"></i> 66%</td>-->
<#--                        </tr>-->
<#--                        <tr>-->
<#--                            <td><small>进行中...</small>-->
<#--                            </td>-->
<#--                            <td><i class="fa fa-clock-o"></i> 12:08</td>-->
<#--                            <td>范范范二妮</td>-->
<#--                            <td class="text-navy"> <i class="fa fa-level-up"></i> 23%</td>-->
<#--                        </tr>-->
<#--                        </tbody>-->
<#--                    </table>-->
<#--                </div>-->
<#--            </div>-->
<#--        </div>-->
<#--    </div>-->
<@footer>
<script type="text/javascript">

    $(function() {
        //更新日志点击事件
        $('[data-toggle="collapse"]').each(function () {
            $(this).on('click', function () {
                var id = $(this).data("parent");
                $(id).slideToggle();
            });
        });
    });


    function show() {
        opt.modal.openView("collect.png","${ctxStatic}/static/img/collect.png",800,700);
    }
</script>
</@footer>
</@pageTheme>
